@font-face {
	font-family: iosevka;
	src: url("assets/fonts/Iosevka-Regular.ttf")
}
body {
	color: #abb2bf;
	background-color: #0e1419;
	font-family: iosevka;
	padding-top: 70px;
	padding-bottom: 10px;
}
#brand {
	font-size: 400%;
	line-height: 20%;
}
#myfooter {
	background-color: #0e1419;
}
#mdpw {
	font-size: 70%;
}
.footicon {
	font-size: 300%;
	text-decoration: none;
	line-height: 80%;
}
.ficon {
	font-size: 500%;
	line-height: 50%;
}
.ftitle {
	font-size: 200%;
}
div.feature {
	padding-top: 10px;
}
